@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

.roboto{
    font-family: 'Roboto', sans-serif;
}
.lato{
    font-family: 'lato', sans-serif;
}
#header .fixed{
    width: 33%;
    height: 100%;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/banner-bg.jpg);
    
}
#header .fixed img{
    width: 180px; 
}